#all {
	background-color: #81cfe0;
	height: 200px;
	width: 400px;
}

#start {
	background-color: #f27935;
	color: #ffffff;
	height: 150px;
	width: 150px;
	position: absolute;
	left: 25px;
	top: 25px;
	font: 50px gill sans;
	border: 3px solid white;
	border-radius: 5px;
}

p {
	position: relative;
	text-align: center;
}

#start:hover {
	background-color: #ffffff;
	color: #f27935;
	border: 3px solid #f27935;
}

#ts {
	position: absolute;
	left: 200px;
	top: 50px;
}
#bars {
	position: absolute;
	left: 200px;
	top: 75px;
}

#bpm {
	position: absolute;
	left: 200px;
	top: 100px;
}