body {
	width: 800px;
	position: relative;
	margin: 0 auto;
}

.settings {
	position: relative;
	top: 50px;
}

button {
	background-color: #f27935;
	color: #ffffff;
	border: 3px solid #f27935;
	border-radius: 5px;
}

button:hover {
	background-color: #ffffff;
	color: #f27935;
	border: 3px solid #f27935;
}

#start {
	height: 300px;
	width: 300px;
	left: 50px;
	top: 50px;
	font: 100px gill sans;
	border-radius: 5px;
	position: absolute;
}

.ts {
	left: 400px;
	font: 30px gill sans;
	position: absolute;
}
.bars {
	top: 50px;
	left: 400px;
	font: 30px gill sans;
	position: absolute;
}

.bpm {
	top: 100px;
	left: 400px;
	font: 30px gill sans;
	position: absolute;
}

.add {
	position: absolute;
	width: 325px;
	left: 400px;
	top: 200px;
	font: 30px gill sans;
}
